<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Manager</title>
    
      <!-- Bootstrap core CSS -->
      <link href="../../../template_content/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../../template_content/css/bootstrap-reset.css" rel="stylesheet">
      <!--external css-->
      <link href="../../../template_content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
      <!--<link href="../../../template_content/css/navbar-fixed-top.css" rel="stylesheet">-->

      <!-- Custom styles for this template -->
      <link href="../../../template_content/css/style.css" rel="stylesheet">
      <link href="../../../template_content/css/style-responsive.css" rel="stylesheet" />

      <link href="../../res/app.css" rel="stylesheet" />
    <title>Welcome</title>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="../../../template_content/js/html5shiv.js"></script>
      <script src="../../../template_content/js/respond.min.js"></script>
    <![endif]-->

    <script src="../../../template_content/js/jquery.js"></script>
    <script src="../../script/config.js"></script>
    <script src="../../script/function.js"></script>
    <script src="../../script/ui-compile.js"></script>
  </head>
<body ng-controller="mainCtrl">

  <span ng-show="loading&&loading!=false" class="alert alert-info main-loading J_main-loading" style="position:absolute; z-index:99999999; top:0; left:45%;">loading...</span>

    <!--header start-->
    
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="/dashboard/admin/index.html" class="logo">图书<span>管理系统</span></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- notification dropdown start-->
                <!--<li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <i class="icon-bell-alt"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="icon-bolt"></i></span>
                                Server #3 overloaded.
                                <span class="small italic">34 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-warning"><i class="icon-bell"></i></span>
                                Server #10 not respoding.
                                <span class="small italic">1 Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-danger"><i class="icon-bolt"></i></span>
                                Database overloaded 24%.
                                <span class="small italic">4 hrs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-success"><i class="icon-plus"></i></span>
                                New user registered.
                                <span class="small italic">Just now</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                Application error.
                                <span class="small italic">10 mins</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">See all notifications</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <div class="form-group">
                        <label class='icon-globe' style="float: left;font-size: 20px;line-height: 100%;margin-top: 5px;"></label>
                        <div class="col-sm-9">
                            <select class="input-sm timezone form-control" title='timezone'>
                                <option value="">local</option>                        
                                <option value="Asia/Shanghai" title='China/Malaysia'>CN / MY</option>
                                <option value="Asia/Jakarta" title='Vietnam/Thailand/Indonesia'>VN / TH / ID</option>
                                <option value="Europe/Istanbul" title='Turkey'>TR</option>
                                <option value="Europe/Moscow" title='Russian'>RU</option>
                            </select>
                        </div>
                    </div>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav ">
            <div class="alert alert-block alert-danger fade out permission_error">
                <button data-dismiss="alert" class="close close-sm" type="button">
                    <i class="icon-remove"></i>
                </button>
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <select id="cmsSearchUser" class="form-control" style="margin-top:6px;">
                        <option value ="Edit">Edit</option>
                        <option value ="Official">Official</option>
                        <option value="Punish">Punish</option>
                    </select>
                </li>
                <li>
                    <input type="text" class="form-control search" id="cmsFilterSearchUser" placeholder="Search" >
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="../../../template_content/img/avatar-mini.jpg">
                        <span class="username">{{USERNAME}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <!--<li><a href="#"><i class=" icon-suitcase"></i>账户信息</a></li>
                        <li><a href="#"><i class="icon-cog"></i> 系统设置</a></li>
                        <li><a href="#"><i class="icon-bell-alt"></i> 通知</a></li>-->
                        <li><a href="/dashboard/admin/modules/user/admin_change_pass.html"><i class="icon-key"></i>修改密码</a></li>
                        <li><a href="/auth/logout"><i class="icon-key"></i>退出登录</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>

    <!--header end-->

    <!--sidebar start-->
    
<aside>
    <div id="sidebar" class="nav-collapse" style="z-index: 3;">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a href="#">
                          <i class="icon-dashboard"></i>
                          <span>主页</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="active">
                          <i class="icon-thumbs-up-alt"></i>
                          <span>书籍管理</span>
                      </a>
                      <ul class="sub">
                          <li><a href="../book/book_list.html">书本列表</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="active">
                          <i class="icon-group"></i>
                          <span>用户管理</span>
                      </a>
                      <ul class="sub">
                          <li><a href="../user/user_list.html">用户列表</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="active">
                          <i class="icon-film"></i>
                          <span>书籍</span>
                      </a>
                      <ul class="sub">
                          <li><a href="../borrow/borrow_list.html">借书记录</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu" >
                      <a href="javascript:;" class="">
                          <i class="icon-unlock-alt"></i>
                          <span>权限</span>
                      </a>
                      <ul class="sub">
                          <li><a href="../user/admin.html">管理员</a></li>                          
                      </ul>
                  </li>
                  <!--<li class="sub-menu" ng-if="USERNAME=='jack'">
                      <a href="javascript:;" class="">
                          <i class="icon-dashboard"></i>
                          <span>Developer</span>
                      </a>
                      <ul class="sub">
                          <li><a href="../welcome/welcome.html">Welcome</a></li>
                          <li><a href="../welcome/openModal.html">Open Modal DEMO</a></li>
                          <li><a href="../welcome/griddemo.html">Grid Demo</a></li>
                          <li><a href="../../../template_content/">Show DEMO</a></li>
                      </ul>
                  </li>-->
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

    <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
        <section class="wrapper" >

    <section ng-controller="openModalCtrl" id="innerSection">
              <section class="wrapper">
                    
                        
                  <div class="col-lg-12">
                      <button ng-click="doOpenModal()">openModal</button>
                  </div>
                  </section>
    </section>
    

              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <!--<footer class="site-footer" style="margin-top:70px;">
          <div class="text-center">
               &copy; 2016
              <a href="#" class="go-top">
                  <i class="icon-angle-up"></i>
              </a>
          </div>
      </footer>-->
      <!--footer end-->
  </section>

  <!-- js placed at the end of the document so the pages load faster -->


  <script src="../../../bower_components/angular/angular.min.js"></script>
  <script src="../../../bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="../../../bower_components/labjs/LAB.min.js"></script>
  <script src="../../../bower_components/jquery.query.js/jquery.query.js"></script>

  <script src="../../../framework/framework.js"></script>
  <script src="../../../framework/main-controller.js"></script>
  <script src="../../../framework/modal-controller.js"></script>
  <script src="../../../framework/directives.js"></script>

  <script src="../../../bower_components/jquery.cookie/jquery.cookie.js"></script>
              
  <script src="../../../template_content/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="../../../template_content/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="../../../template_content/js/jquery.scrollTo.min.js"></script>
  <script src="../../../template_content/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="../../../template_content/js/respond.min.js" ></script>

  <!--common script for all pages-->
  <script src="../../../template_content/js/common-scripts.js"></script>
  
  
  <script src="../../../bower_components/moment/min/moment.min.js"></script>
  <script src="../../../bower_components/blueimp-md5/js/md5.min.js"></script>
  <script src="../../../framework/linq.min.js"></script>
  <script src="../../../bower_components/lodash/dist/lodash.min.js"></script>
  <script src="../../../template_content/js/moment-timezone-with-data.min.js"></script>   
  <script src="../../../template_content/js/jstz.min.js"></script>   
  <script>
      function handleTime(time){
          return moment.tz(time,$('.timezone').val()).utc().format()
      }
  </script>
  <!--业务逻辑依赖-->
  <script src="../scripts/service.js"></script>
  <script src="../../script/index-controller.js"></script>
  <script src="../../../framework-kendoui/directive-grid.js"></script>
  <script src="../scripts/showConst.js"></script>
<script src="controller/openModal.js"></script>

<!-- Modal -->
<div class="modal fade" id="main-modal" role="dialog" aria-hidden="true" ng-controller="modalCtrl" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modal-title" class="modal-title">loading...</h4>
            </div>
            <div id="modal-body" class="modal-body" style="overflow:hidden;">
                <iframe id="modal-frame" name="modalFrame" src="about:blank" width="100%" height="600" style="border-width:0; " scrolling="no"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-" id="modal-submit" ng-click="modalSubmit()">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  </body>
</html>